*{
	font-family: 'Courier New', Courier, monospace;
	font-size: 12pt;
}

body{
	margin: 0%;
}

section{
	height: 100vh;
	background-image: url(img/80533-ligne-design_urbain-carte_de_circuit_imprime-composant_electronique-circuit_electronique-2560x1600.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	animation-name: back;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

form{
	width: 800px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 60px;
	box-sizing: border-box;
	border-radius: 30px;
}

input{
	display: block;
	margin: 10px auto;
	width: 300px;
	padding: 6px 10px;
	outline: none;
	border: none;
	box-sizing: border-box;
	border-radius: 10px;
}

input[type="submit"]{
	background-color: blueviolet;
	font-weight: bold;
	cursor: pointer;
}

@keyframes back{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg)
	}
}
