
*{
	margin: auto;
}

body {
	background-image: url(img/thumb-1920-81006.jpg);
}


.mot_deb{
	display: flex;
	border: 3px solid #2f1be4;
	margin-bottom: 0px;
	border-radius: 30px;
	margin: 0px;
	padding: 5%;
	justify-content: center;
	background-color: azure;
}


/*Menu deroulant*/

:root{
	--hauteur-menu: 30px;
  }
  * {
	margin: 0px;
	padding: 1%;
	border-radius: 30px 30px 0px 0px;
	font-family: Montserrat, sans-serif;
  }

  nav {
	width: 100%;
	font-size: 18px;
	position: sticky;
	top: 0;
  }

  nav > ul {
	display: flex;
	text-align: center;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.0);
	height: var(--hauteur-menu);
  }

  nav ul {
	list-style-type: none;
  }
  
  nav > ul > li {
	background-color: white;
	border-left: 3px solid #2f1be4;
	border-right: 3px solid #2f1be4;
	border-top: 3px solid #2f1be4;
	margin-right: 10px;
	position: relative;
	height: 100%;
	justify-content: space-between;
	flex: 1;
  }

  nav > ul > li > a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  li a {
	text-decoration: none;
	color: black;
  }
  
  .menu_deroulant > a:after{
	content: '✜';
	font-size: 20px;
	margin-left: 10px;
	display: inline-block;
  }

  /*Menu information*/
  .sous_menu1{
	margin-top: 30px;
	width: 102.2%;
	margin-left: -21px;
	border-left: 3px solid #2f1be4;
	border-right: 3px solid #2f1be4;
	justify-content: space-between;
	text-align: left;
	background-color: rgb(255, 255, 255);
	border-radius: 0px 0px 0px 0px;
	overflow: hidden;
	max-height: 0;
  }

  .sous_menu1 > li > a {
	height: 50px;
	padding-left: 5px;
	width: 100%;
	align-items: center;
	display: flex;
  }

  .sous_menu1 > li:hover {
	border-radius: 30px;
	background-color: rgba(155, 179, 245, 0.3);
  }
  
  .sous_menu1 > li:hover > a {
	color: #2f1be4;
  }

  /*Fin menu information*/

  /*Menu projet*/
  .sous_menu2{	
	margin-top: 30px;
	width: 102.3%;
	margin-left: -21.6px;
	border-left: 3px solid #2f1be4;
	border-right: 3px solid #2f1be4;
	justify-content: space-between;
	text-align: left;
	background-color: rgb(255, 255, 255);
	border-radius: 0px 0px 0px 0px;
	overflow: hidden;
	max-height: 0;
  }

  .sous_menu2 > li > a {
	height: 50px;
	padding-left: 5px;
	width: 100%;
	align-items: center;
	display: flex;
  }
  .sous_menu2 > li:hover {
	border-radius: 30px;
	background-color: rgba(155, 179, 245, 0.3);
  }
  
  .sous_menu2 > li:hover > a {
	color: #2f1be4;
  }

  /*Fin menu projet*/




	  nav > ul > li:hover > a{
		color: #2f1be4;
	  }


	  /*Animation fleche*/
	  @keyframes rotationFleche {
		0% {
		  transform: rotate(0deg);
		}
		100%{
		  transform: rotate(360deg);
		}
	  }

	  .menu_deroulant:hover > a:after{
		animation: rotationFleche 0.5s linear forwards;
	  }
	  /*Fin animation fleche*/

	  /*Animation du menu*/

	  @keyframes apparitionSousMenu {
		0% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
		  border-right: 3px solid #2f1be4;
		  border-left : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		}
		30% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
		100% {
		  max-height: 50em;
		  border-left : 3px solid #2f1be4;
		  border-right : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
	  }
	  /*Fin animation du menu*/

	  /*Animation menu information*/
	  .menu_deroulant:hover > .sous_menu1 {
		animation: apparitionSousMenu 1s forwards;
	  }

	  /*Fin animation menu information*/

	  /*Animation menu projet*/
	  .menu_deroulant:hover > .sous_menu2 {
		animation: apparitionSousMenu 1s forwards;
	  }
	  /*Fin animation menu projet*/

	  /*Animation menu retour*/

	  @keyframes disparitionSousMenu {
		100% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
		  border-right: 3px solid #2f1be4;
		  border-left : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		}
		30% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
		0% {
		  max-height: 50em;
		  border-left : 3px solid #2f1be4;
		  border-right : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
	  }
	  .menu_deroulant > .sous_menu2 {
		animation: disparitionSousMenu 0.5s forwards;
	  }


	  @keyframes disparitionSousMenu {
		100% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
		  border-right: 3px solid #2f1be4;
		  border-left : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		}
		30% {
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
		0% {
		  max-height: 50em;
		  border-left : 3px solid #2f1be4;
		  border-right : 3px solid #2f1be4;
		  border-bottom: 3px solid #2f1be4;
		  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
		}
	  }
	  .menu_deroulant > .sous_menu1 {
		animation: disparitionSousMenu 0.5s forwards;
	  }

	  /*Fin animation menu retour*/

	  /*Animation fleche retour*/

	  @keyframes rotationFlecheRetour {
		100% {
		  transform: rotate(0deg);
		}
		0%{
		  transform: rotate(360deg);
		}
	  }

	  .menu_deroulant > a:after{
		animation: rotationFlecheRetour 0.5s linear forwards;
	  }
	  /*Fin animation fleche retour*/


	  /*Animation logo info*/

	  @keyframes rotation_logo {
		0% {
		  transform: rotate(0deg);
		}
		100%{
		  transform: rotate(90deg);
		}
	  }

	  /*.sous_menu > li > a > img.logo:hover > img:after{
		animation: rotation_logo 0.3s linear forwards;
	  }*/